page-about-us {
  .toolbar-background-md {
    border-color: #272731;
    background: #272731;
  }
  .toolbar-background-ios {
    border-color: #272731;
    background: #272731;
  }
  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    opacity: 0.5;
    color: white;
    background-color: transparent;
    font-family: "ExtraLightSans";
  }
  .bar-button-default-ios,
  .bar-button-clear-ios-default,
  .bar-button-ios-default {
    opacity: 0.5;
    color: white;
    background-color: transparent;
    font-family: "ExtraLightSans";
  }
  .toolbar-title-md {
    padding: 0 12px;
    font-size: 24px;
    opacity: 0.5;
    font-weight: 500;
    color: white;
    font-family: "ExtraLightSans";
  }
  .toolbar-title-ios {
    padding: 0 12px;
    font-size: 24px;
    opacity: 0.5;
    font-weight: 500;
    color: white;
    font-family: "ExtraLightSans";
  }
  .content {
    background-color: #272731;
  }
  .link {
    color: #00d280;
    /* width: 100%; */
    font-size: 19px;
    font-family: "ExtraLightSans";
    margin-left: 15vh;
    /* position: absolute; */
    text-decoration: none;
    margin-top: 40px;
    position: absolute;

    text-decoration: none;
    .icon {
      font-size: 19px;
    }
  }
  .para {
    font-size: 18px;
    height: 57%;
    padding: 20px;
    color: white;
    font-family: "RegularSans";
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
  }
}
