page-edit-cart {
  .content {
    background-color: black;
    opacity: 0.966;
  }
  .cross {
    position: absolute;
    color: white;
    font-size: 24px;
    margin-top: 3%;
    margin-left: 92%;
  }
  [padding] h1:first-child,
  [padding] h2:first-child,
  [padding] h3:first-child,
  [padding] h4:first-child,
  [padding] h5:first-child,
  [padding] h6:first-child {
    margin-top: 8.7rem;
  }
  .itemTitle {
    color: white;
    text-align: center;
    font-size: 1.9em;
    font-family: "ExtraLightSans";
  }
  .para {
    color: white;
    text-align: center;
    font-size: 1.9em;
    font-family: "ExtraLightSans";
    padding-left: 12%;
    padding-right: 12%;
  }
  .count {
    margin-left: -40px;
    margin-top: 8vh;
    text-align: center;
    .item-count {
      border-radius: 10%;
      padding: 0.5px 15px;
      font-weight: 700;
      font-family: "ExtraLightSans";
      color: #fff;
      font-size: 1.5em;
      background-color: #00d280;
    }
    .show-count {
      background-color: transparent !important;
      margin: 10px;
    }
  }

  .pC {
    color: white;
    font-family: "ExtraLightSans";
    font-size: 1.2em;
    text-align: center;
  }
  .pA {
    color: #00d280;
    font-family: "ExtraLightSans";
    font-size: 1.2em;
    text-align: center;
  }
  .btnRow {
    margin-top: 8vh;
  }
}
